<%image_array = ['fworkimage','sworkimage','tworkimage','foworkimage','fiworkimage','siworkimage','seworkimage','eworkimage','nworkimage','teworkimage']%>
<%size_array = ['fworksize','sworksize','tworksize','foworksize','fiworksize','siworksize','seworksize','eworksize','nworksize','teworksize']%>
<%title_array = ['fworktitle','sworktitle','tworktitle','foworktitle','fiworktitle','siworktitle','seworktitle','eworktitle','nworktitle','teworktitle']%>
<%medium_array = ['fworkmedium','sworkmedium','tworkmedium','foworkmedium','fiworkmedium','siworkmedium','seworkmedium','eworkmedium','nworkmedium','teworkmedium']%>
<%price_array = ['fworkprice','sworkprice','tworkprice','foworkprice','fiworkprice','siworkprice','seworkprice','eworkprice','nworkprice','teworkprice']%>
<%imgname=[]%>       
<%sizename=[]%>
<%titlename=[]%>
<%mediumname=[]%>
<%pricename=[]%> 
 
<script type="text/javascript" src="/javascripts/jquery.editinplace.js"></script>

        <link rel="stylesheet" href="/stylesheets/jquery.fancybox.css" type="text/css" media="screen" />
        <script type="text/javascript" src="/javascripts/jquery.fancybox.pack.js"></script>

<script language="javascript"> 
  
  function showhidesentinbox(divid){
    if (divid == "inbox")
    {
      document.getElementById("sent").style.display = "none";
      document.getElementById("inbox").style.display = "block";
    }
    if (divid == "sent")
    {
      document.getElementById("inbox").style.display = "none";
      document.getElementById("sent").style.display = "block";
    }  
  }
  
  
  function ntoggle() {
    var ele = document.getElementById("noticeToggle");
    var text = document.getElementById("displayText");
    if(ele.style.display == "block") {
      ele.style.display = "none";
    }
    else {
      ele.style.display = "block";
    }
  }
  function comptoggle(comid) {
    var ele = document.getElementById("comp"+comid);

    if(ele.style.display == "block") {
      ele.style.display = "none";
    }
    else {
      ele.style.display = "block";
    }
  }
  
  function exhitoggle(exhiid){
    var ele = document.getElementById("exhi"+exhiid);
    if(ele.style.display == "block") {
      ele.style.display = "none";
    }
    else {
      ele.style.display = "block";
    }
  }
  
</script>


<div id="tabass">
  <ul>
    <!--  <li><a href="#fragment-1"><span>Artworks</span></a></li>  -->

    <li><a href="#fragment-1" ><span><%=@current_object.user.profile.first_name.to_s + " " + @current_object.user.profile.last_name.to_s%></span></a></li>
    <li><a href="#fragment-2"><span>Exhibition</span></a></li>
    <li><a href="#fragment-3"><span>Competition</span></a></li>
    <li><a href="#fragment-4"><span>Artworks</span></a></li>
    <li><a href="#fragment-5"><span>Invoice</span></a></li>
    <li><a href="#fragment-6"><span>Mail</span></a></li>

<span id="current_symbol" style="padding-left:25px;"> 

<%=link_to_remote  image_tag("/images/editinfo.png", :height => '15', :width => '15',:title=>"User Edit"), :update => "",
    :url => { :controller=> "admin/profiles",:action => "edit", :id => @current_object.user.id },:method=>:get
%>
<%=link_to_remote  image_tag("/images/composemail.gif", :height => '20', :width => '20',:title=>"Compose Mail"), :update => "",
    :url => { :controller=> "admin/profiles",:action => "compose_mail", :id => @current_object.user.id },:method=>:get
    
%> 

</span>
  <% profile_workspace = @current_object.profile_workspace || @current_object.user.private_workspace %>
<span id="current_exhibition" style="padding-left:50px;">  
         <%if current_user.login=="admin" || current_user.login=="superadmin"%>

            
<%=link_to_remote  image_tag("/images/exh.jpeg", :height => '15', :width => '15',:title=>"Add To New Exhibition"),  
    :url => new_admin_workspace_exhibition_path(profile_workspace.id) , :method=>:get
%>
 
<%=link_to_remote  image_tag("/images/exhcreat.jpeg", :height => '15', :width => '15',:title=>"Add To Existing Exhibition"),  
    :url => "/admin/exhibitions/all_exh_list" , :method=>:get
%>


         <%end%>
       

</span>
<span id="current_competition" style="padding-left:100px;"> 


<%=link_to_remote  image_tag("/images/comp.jpeg", :height => '15', :width => '15',:title=>"Add To Competition"),  
    :url => "/show_all_competition" , :method=>:get
%>

<%#=link_to_remote  image_tag("/images/button.png", :height => '15', :width => '15'),  
    :url => "/show_list_of_comp_exh" , :method=>:get
%>

 

</span>



  </ul>
  <div style="font-size:10px;">


    <!--   <div id="fragment-1">
    <% profile_workspace = @current_object.profile_workspace || @current_object.user.private_workspace %>
              </div> 
    
    -->


    <div id="fragment-1"  >
  
      <%=render :partial=>"user_information"%>
      
    </div>


 <script>
			$(document).ready(function(){
			 	$(".group4").colorbox({rel:'group4', slideshow:true});
   			});
		</script>

    <div id="fragment-2"  >
           
                
      <% if !(exhibitions_users=@current_object.user.exhibitions_users.all(:include => [:exhibition], :order => 'created_at DESC')).empty? %>
        <% exhibitions_users.each do |eu| %>

    <%# blank_list_element(:date => eu.created_at, :title => link_to(eu.exhibition.title, admin_exhibition_path(eu.exhibition_id))+" with state '#{eu.state}'") do %>
    <%#= link_to_remote('Pay online', :url => new_admin_payment_url(:iid => @current_object.id), :update => 'modal_space', :method => :get) if i.state != 'validated' %>
    <%# end %>
           <%if !eu.exhibition.blank?%>  
          <% blank_list_element(:date => eu.exhibition.timing.starting_date, :title => link_to(eu.exhibition.title, admin_exhibition_path(eu.exhibition_id))) do %>
              <%#=render :partial=>"exhbslideshow",:locals=>{:exh_id=>eu.exhibition.id,:user_id=>@current_object.user.id,:eu=>eu}%>
              <% if    !eu.user.invoices.blank?  and(  (eu.user.invoices.find(:first ,:conditions=>["purchasable_id = ? ",eu.id]) != nil and   eu.user.invoices.find(:first ,:conditions=>["purchasable_id = ? ",eu.id]).state != "validated") or (eu.user.invoices.find(:last ,:conditions=>["purchasable_id = ? ",eu.id]) != nil and   eu.user.invoices.find(:last ,:conditions=>["purchasable_id = ? ",eu.id]).state != "validated")) %>
                   <%#= link_to_remote('Pay online', :url => new_admin_payment_url(:iid => @current_object.id), :update => 'modal_space', :method => :get)  %>
                   <%#=link_to_remote "Pay Online", :url=>"/admin/profiles/exhibition_payment/#{eu.id}",:update => 'modal_space', :method => :get%>
              <%end%>  
                  <span id="update_invitation<%=eu.id%>">       
                          <% if eu.invited_at.blank? %>
                               <%= link_to_remote "Email Invoice", :url=>send_invitation_admin_exhibitions_user_path(eu.id), :method => :get %>
                          <% elsif !eu.invited_at.blank?%>  
                               <%#here i need the blank d for alignment%>  
                               <%= link_to_remote "Resend Invoice", :url=>send_invitation_admin_exhibitions_user_path(eu.id), :method => :get %>
                          <%end%> 
                          <% if    !eu.user.invoices.blank?  and(  (eu.user.invoices.find(:first ,:conditions=>["purchasable_id = ? ",eu.id]) != nil and   eu.user.invoices.find(:first ,:conditions=>["purchasable_id = ? ",eu.id]).state != "validated") or (eu.user.invoices.find(:last ,:conditions=>["purchasable_id = ? ",eu.id]) != nil and   eu.user.invoices.find(:last ,:conditions=>["purchasable_id = ? ",eu.id]).state != "validated")) %>
                              <%#= link_to_remote('Pay online', :url => new_admin_payment_url(:iid => @current_object.id), :update => 'modal_space', :method => :get)  %>
                              <%=link_to_remote "Pay Online", :url=>"/admin/profiles/exhibition_payment/#{eu.id}",
                               :update => 'modal_space', :method => :get%>
                          <%end%> 
                          <%if eu.state != "created" %>                    
                            <% if  !eu.user.invoices.blank?  and(eu.user.invoices.find(:first ,:conditions=>["purchasable_id = ? ",eu.id]) != nil )%>
                                 &nbsp;&nbsp;<%=link_to_remote "Upload Image",:url=>"/competitions/upload_exhibition_image/#{eu.exhibition.id}?user_id=#{eu.user_id}",:update => 'modal_space',:method=>:get%>
                             <%end%>             
                          <%end%> 
                          <% if eu.state == 'published' %>
                              <%#here atually i need to add a column that will check weather the email is sent or not if it is sent then resend %>
                              <%= link_to_remote 'Unpublish', :url=>update_state_admin_exhibitions_user_path(eu.id, :state => 'unpublished') ,:method=>:get%>
                          <%else%>
                          <% end %>
                          <%if eu.state != 'published' and !eu.invited_at.blank? %> 
                             <%= link_to_remote 'Publish', :url=>update_state_admin_exhibitions_user_path(eu.id, :state => 'published') ,:method=>:get%>
                          <%end%>
                  </span>               
                  <%=render :partial=>"exhbslideshow",:locals=>{:exh_id=>eu.exhibition.id,:user_id=>@current_object.user.id,:eu=>eu}%>
          <% end %>
         <%end%>    
      
          <br/>
        <% end %>
        <br /><br />
      <% else %>
        No exhibitions for that user.
      <% end %>
    </div>
    <div id="fragment-3"  >
      <div style="float:right;">
       
        <%if current_user.login=="admin" || current_user.login=="superadmin"%>
          <%= link_to "add an competition", new_admin_workspace_competition_path(profile_workspace.id) %>
        <%end%>
      </div><br />
      <% if !(competitions_users=@current_object.user.competitions_users.all(:include => [:competition, :competitions_subscription])).empty? %>
        <% competitions_users.each do |cu| %>
          <%if  cu.state.blank?%>
            <% blank_list_element(:date => cu.created_at, :title => link_to(cu.competition.title, admin_competition_path(cu.competition_id))+" with state unpaid") do %>
        <%#= link_to_remote('Pay online', :url => new_admin_payment_url(:iid => @current_object.id), :update => 'modal_space', :method => :get)   %>
                         Click<%=link_to_remote " Here", :update => "modal_space",:url =>"/create_subscribe_competition_front_edit?id=#{cu.competition_id}&order_id=#{cu.id}&user_id=#{cu.user_id}"
                       %>  to pay             
                       
                                                      <!--<a href='/admin/competitions/create_subscribe_competition/?competion_id=<%=cu.competition_id%>'> Confirm Competition</a>-->
              <%#=render :partial=>"compslideshow",:locals=>{:cu=>cu}%>
            <% end %>
          <%elsif   cu.state == "accepted"%>

         <%if cu.competition%>
            <% blank_list_element(:date => cu.created_at, :title => link_to(cu.competition.title, admin_competition_path(cu.competition_id))+" with state unpaid") do %>
        <%#= link_to_remote('Pay online', :url => new_admin_payment_url(:iid => @current_object.id), :update => 'modal_space', :method => :get)   %>
              Click<%=link_to_remote " Here", :update => "modal_space",:url =>"/create_subscribe_competition_front_edit?id=#{cu.competition_id}&order_id=#{cu.id}&user_id=#{cu.user_id}"
                       %>  to pay
      Click<%=link_to_remote " Here", :update => "modal_space",:url =>"/add_the_artwork_for_comp?competition_id=#{cu.competition_id}&order_id=#{cu.id}&user_id=#{cu.user_id}&total_entry=#{cu.total_entry}"
                       %>  to upload image
                       <script>
                         function openwindow()
{
window.open("http://<%=request.host_with_port%>/add_the_artwork_for_compp","mywindow","menubar=0,resizable=1,width=350,height=250");
} 
                         </script>
   
   

<%#=link_to_remote "Upload Image",:url=>"/competitions/upload_exhibition_image/#{eu.exhibition.id}?user_id=#{eu.user_id}",:update => 'modal_space',:method=>:get%>        

                                            <!-- <a href='/admin/competitions/create_subscribe_competition/?competion_id=<%=cu.competition_id%>'> Confirm Competition</a>-->
              <%=render :partial=>"compslideshow",:locals=>{:cu=>cu}%> 
         <%end%>

            <% end %>
          <%else%>     
            <% blank_list_element(:date => cu.created_at, :title => link_to(cu.competition.title, admin_competition_path(cu.competition_id))+" with state paid") do %>
        <%#= link_to_remote('Pay online', :url => new_admin_payment_url(:iid => @current_object.id), :update => 'modal_space', :method => :get)   %>
              <%#=render :partial=>"compslideshow",:locals=>{:cu=>cu}%>
               Click<%=link_to_remote " Here", :update => "modal_space",:url =>"/create_subscribe_competition_front_edit?id=#{cu.competition_id}&order_id=#{cu.id}&user_id=#{cu.user_id}"
                       %>  to pay         
              Click<%=link_to_remote " Here", :update => "modal_space",:url =>"/add_the_artwork_for_comp?competition_id=#{cu.competition_id}&order_id=#{cu.id}&user_id=#{cu.user_id}&total_entry=#{cu.total_entry}"
                       %>  to upload image
              <%=render :partial=>"compslideshow",:locals=>{:cu=>cu}%> 
                    
            <% end %>
          <%end%>       
        <% end %>
        <br /><br />
      <% else %>
        No subscriptions to competitions for that user.
      <% end %>
      <br/>   

    </div>



    <div id="fragment-4"  >
    <table  id="artworks"  >
  <thead style="font-size: 5px;">
  <tr>
    <th>Artist Name</th>
    <th>Image</th>
    <th>In Date</th>
    <th>Out Date</th>
    <th>Event</th>
    <th>Title</th>
    <th>Medium</th>
    <th>Size</th>
    <th>price</th>
    <th>Edition of</th>
    <th>Edition to</th>
    <th>Sold</th>
    <th>artist commission</th>
    <th>artcompaid</th>
    <th>sales person</th>
    <th>salespersoncom</th>
    <th>salespersoncompaidnotpaid</th>
    
    
    
  </tr>
  </thead>
   <tbody style="color:#666666;">
    <%@exhartwork.each do |artwork|%>
      <%totaledition = artwork.edition_number.to_i - artwork.edition_name.to_i%>
      <%soldcount = artwork.sold_number%>
     <%for tn in 0..totaledition%>
    <tr>
      
      <td>
        <%=artwork.user.profile.full_name if artwork.user%>
      </td>        
      <td>
         <img src="/uploaded_files/production/artwork/<%=artwork.id%>/medium/<%=artwork.image_file_name%>" width="48" height="48">
      </td>
       
      <td>
         <%=artwork.exhibition.timing.starting_date if artwork.exhibition%>
      </td>
      <td>
         <%=artwork.exhibition.timing.ending_date if artwork.exhibition%>
      </td>
      <td>
         Exhibition
      </td>
      <td>
         <%=artwork.title%>
      </td>
      <td>
         <%=artwork.medium%>
      </td>
       <td>
         <%=artwork.height%>*<%=artwork.width%>*<%=artwork.depth%>
      </td>
       <td>
         <%=artwork.price%>
       </td>
        <td>
         <%=artwork.edition_name%>
       </td>
        <td>
         <%=artwork.edition_number%>
       </td>
        <td>
          <%if soldcount.to_i == 0%>
             <%="unsold"%>
          <%else%>
             <%="sold"%>
          <%end%>
          <%soldcount = soldcount.to_i-1%>
       </td>
        <td>
         <%="artist comm"%>
       </td>
        <td>
         <%="acpaid"%>
       </td>
        <td>
         <%="salesp"%>
        </td>
        <td>
         <%="salespc"%>
       </td>
        <td>
         <%="salespcpaid"%>
       </td>
       

       
      
      </tr>
      <%end%>
    <%end%>
     <%for artwork in @all_comp_art_work%> 
       <tr>
          <td> 
              <%=artwork.competitions_user.user.profile.full_name if artwork.competitions_user%>
          </td>
          <td> 
          <img src="/uploaded_files/competition/artwork/<%=artwork.id%>/thumb/<%=artwork.avatar_file_name%>" />
          </td>
          <td> 
              <%=artwork.competition.created_at%> 
          </td>
           <td> 
              <%=artwork.competition.submission_deadline%> 
          </td>
          <td> 
              <%="Competition"%> 
          </td>
          <td> 
               <% size_array = ['fworksize','sworksize','tworksize','foworksize','fiworksize','siworksize','seworksize','eworksize','nworksize','teworksize']%>
               <% medium_array = ['fworkmedium','sworkmedium','tworkmedium','foworkmedium','fiworkmedium','siworkmedium','seworkmedium','eworkmedium','nworkmedium','teworkmedium']%>
               <%  price_array = ['fworkprice','sworkprice','tworkprice','foworkprice','fiworkprice','siworkprice','seworkprice','eworkprice','nworkprice','teworkprice']%>
               <%   sold_array = [ 'fsold','ssold','tsold','fosold','fisold','sisold','sesold','eisold','nsold','tesold']%>
  
               <%  title_array = ['fworktitle','sworktitle','tworktitle','foworktitle','fiworktitle','siworktitle','seworktitle','eworktitle','nworktitle','teworktitle']%>
               <%  image_array = ['fworkimage','sworkimage','tworkimage','foworkimage','fiworkimage','siworkimage','seworkimage','eworkimage','nworkimage','teworkimage']	%>
               <%= artwork.competitions_user.send title_array[image_array.index artwork.image_name].to_sym if artwork.competitions_user%> 
          </td>
          <td> 
               <%= artwork.competitions_user.send medium_array[image_array.index artwork.image_name].to_sym if artwork.competitions_user%> 
          </td>
          <td> 
               <%= artwork.competitions_user.send size_array[image_array.index artwork.image_name].to_sym if artwork.competitions_user%> 
          </td>
          <td> 
               <%= artwork.competitions_user.send size_array[image_array.index artwork.image_name].to_sym if artwork.competitions_user%> 
          </td>
              <td> 
        0    </td>    <td> 
       0     </td>
              <td>
               <%if (artwork.competitions_user.send sold_array[image_array.index artwork.image_name].to_sym if artwork.competitions_user)%> 
                 sold
               <%else%>
                   not sold
               <%end%> 
              </td>  
               <td>
         <%="artist comm"%>
       </td>
        <td>
         <%="acpaid"%>
       </td>
        <td>
         <%="salesp"%>
        </td>
        <td>
         <%="salespc"%>
       </td>
        <td>
         <%="salespcpaid"%>
       </td>
       </tr> 
      <%end%>
      
      
  </tbody>
  <tfoot>
    <tr style="display:none;">
      <td colspan="5">
	            No rows match the filter...
      </td>
    </tr>
  </tfoot>

  </table>
    </div>



    <div id="fragment-5" >
      <div style="float:right;">
        <%if current_user.login=="admin" || current_user.login=="superadmin"%>
        Filter the list with text 
        <br/>
          <input id="filter5"/><br />
          <%= link_to "add an invoice for this contact", new_admin_invoice_path + "/#{@current_object.id}" %>

        <%end%>

      </div><br />
      
      <% if !(invoices=@current_object.user.invoices.find(:all,:order=>"created_at DESC")).empty? %>
        <table  id="invoicess"  >
         
          <tbody style="color:#666666;">

            <% invoices.each do |i| %>
              <%invoicestate = "unpaid" %>
              <%invoicestate = "paid" if i.state == "validated"%>
              <tr> 
                <td style="width:60px">
                  <%=i.created_at%>
                </td>
                <td>
                  <%=link_to(i.title, admin_invoice_path(i.id))+" with state #{invoicestate}"%>
              </td>
            </tr>

  <%# blank_list_element(:date => i.created_at, :title => link_to(i.title, admin_invoice_path(i.id))+" with state '#{invoicestate}'") do %>

  <%#= link_to_remote('Pay online', :url => new_admin_payment_url(:iid => @current_object.id), :update => 'modal_space', :method => :get) if i.state != 'validated' %>

  <%#= link_to 'Validate the payment', update_state_admin_invoice_path(@current_object.id, :state => 'validated') if (i.state != 'validated') && @current_user.has_system_role('admin') %>
  <%# end %>
          <% end %>
        </tbody>
        <tfoot>
          <tr style="display:none;">
            <td colspan="5">
	            No rows match the filter...
            </td>
          </tr>
        </tfoot>

      </table>
    <% else %>
      No invoices linked to that user.
    <% end %>
    </div>



    <div id="fragment-6" >
      <div>
<%#= link_to_remote 'Inbox', :url => list_all_messages_admin_emails_path(:profile_id => @current_object.id), :update => 'emails_list', :method => :get %>
<%#= link_to 'Inbox',        inbox_admin_emails_path(:profile_id => @current_object.id) %>
<%#= link_to 'Compose Mail', compose_mail_admin_emails_path %>
<%#= link_to  'Sent',        sent_mail_admin_emails_path(:profile_id => @current_object.id) %>

        <div class="contentList filtered sixH" style="width:620px;">  
          <span onclick="showhidesentinbox('inbox')" style="float:right;margin-left:10px">Inbox</span>
          <span onclick="showhidesentinbox('sent')" style="float:right">Sent</span>
          
          <br/>
          <div id="inbox" style="display:none">
            <div id="main-middle">
              <table class="mailbox-table">
                <tbody><tr>

                    <td align="left" valign="top" nowrap="nowrap">
                      <div class="bsg-right">
                        <ul>
                        <%for message in @messages%>
                          <ul class="mm-field-email">					
                            <!--<li class="field-checkbox fc">    <%#=check_box_tag "delete_message"+message.id.to_s  ,message.id ,false,:class=>"mm-cb"%></li>-->
                            <li class="field-from-email"><%=h message.author.email %></li>
                            <li class="field-subject-email">
                              <%= link_to_remote truncate(message.subject,40) ,:update => "",:url => { :action => "show_message_sent", :id => message.id }%>
<%#action is show messsage%>         
                            </li>

                            <li class="field-date"><%=message.created_at.strftime("%Y-%m-%d")%></li>
                          </ul>
                        <%end%> 


                        </ul>
                      </div>
                    </td>
                    
                  </tr>
              </table>
            </div>
          </div>
          <div id="sent" style="display:none">
            <div id="main-middle">
              <table class="mailbox-table">
                <tbody><tr>

                    <td align="left" valign="top" nowrap="nowrap">
                      <div class="bsg-right">
                        <ul>
                        <%for message in @message_recd%>
                          <ul class="mm-field-email">					
                           <!-- <li class="field-checkbox fc">    <%#=check_box_tag "delete_message"+message.id.to_s  ,message.id ,false,:class=>"mm-cb"%></li>-->
                            <li class="field-from-email"><%=h message.author.email %></li>
                            <li class="field-subject-email">
                              <%= link_to_remote truncate(message.subject,40) ,:update => "",:url => { :action => "show_message_recd", :id => message.id,:author_id=>message.author_id }%>
<%#action is show messsage%>         
                            </li>

                            <li class="field-date"><%=message.created_at.strftime("%Y-%m-%d")%></li>
                          </ul>
                          <div id="message<%=message.id%>"></div>
                        <%end%> 

 
                          
                        </ul>
                      </div>
                    </td> 
                  </tr>
              </table>
            </div>
          </div>   

          <div id = "show_message_details" >

          </div>  






        </div>  

      </div>
      <br />
      <div id="emails_list">
      </div>
    </div><%#fragment 6%>



    <div id="fragment-7" >

      <font size=2pt>    <%=h @current_object.user.profile.biography %></font>
    </div>

    <div id="fragment-8" >

    <%if !@current_object.notices.blank? %>	<br/>	
      <a id="displayText" href="javascript:ntoggle();">
        <b>Update Notice</b></a>


      <br />				
      <font size=2pt>    <%=h @current_object.notices %></font>
    <%else%>
      No Notices for <%=h @current_object.first_name %>.<br/>
      <a id="displayText" href="javascript:ntoggle();"><b>Change Notice</b></a><br />				
    <%end%>
      <div id="notice_add">

      </div>	


      <div id="noticeToggle" style="display: none">

        <font size=1pt>    <%#=h @current_object.biography %></font>
      <% form_tag(update_notices_admin_profile_path, :method => "put") do %>
        <%= label_tag(:q, "Notice:") %> 
        <%= text_area_tag(:notice,@current_object.notices,:cols=>40) %> <br/>
        <%= submit_tag("Submit",:style=>"width:150px;margin-left:140px;") %> 
      <% end %>

      </div>		

    </div>



  </div>

</div>

<%#*<script>%>
<%#*$(document).ready(function() {%>
<%#*$("#emails").;%>
<%#*});%>
<%#*</script>%>


<script>
  $(document).ready(function()
    {
     // $("#invoicess").tablesorter();
    }
);
  $(document).ready(function(){
	
	// All examples use the commit to function interface for ease of demonstration.
	// If you want to try it against a server, just comment the callback: and 
	// uncomment the url: lines.
	
	// The most basic form of using the inPlaceEditor
	
	$("#full_name").editInPlace({
		//callback: function(unused, enteredText) { return enteredText; },
		 url: '/change_profile/'+document.getElementById('exh_display_list').value
		 
	});
	
	$("#email_address").editInPlace({
		//callback: function(unused, enteredText) { return enteredText; },
		 url: '/change_profile/'+document.getElementById('exh_display_list').value
		 
	});
	
	$("#phone_number").editInPlace({
		//callback: function(unused, enteredText) { return enteredText; },
		 url: '/change_profile/'+document.getElementById('exh_display_list').value
		 
	});
	
	$("#website").editInPlace({
		//callback: function(unused, enteredText) { return enteredText; },
		 url: '/change_profile/'+document.getElementById('exh_display_list').value
		 
	});
	
	$("#address").editInPlace({
		//callback: function(unused, enteredText) { return enteredText; },
		 url: '/change_profile/'+document.getElementById('exh_display_list').value
		 
	});
	
	$("#suburb").editInPlace({
		//callback: function(unused, enteredText) { return enteredText; },
		 url: '/change_profile/'+document.getElementById('exh_display_list').value
		 
	});
	
	$("#zip_code").editInPlace({
		//callback: function(unused, enteredText) { return enteredText; },
		 url: '/change_profile/'+document.getElementById('exh_display_list').value
		 
	});
	
	$("#country_state").editInPlace({
		//callback: function(unused, enteredText) { return enteredText; },
		 url: '/change_profile/'+document.getElementById('exh_display_list').value
		 
	});
	
	$("#country").editInPlace({
		//callback: function(unused, enteredText) { return enteredText; },
		 url: '/change_profile/'+document.getElementById('exh_display_list').value
		 
	});
	
	
	
	
	
 });
</script>

