


 <form action="">
  <div class="spacet">
  <input type="text" size="30" placeholder="<%= @current_object.full_name()%>">
  </div> 

  <div class="spacet">
  <input type="text" size="30" placeholder="<%= @current_object.user.email%>">
  </div>
  
  <div class="spacet">
  <input type="text" size="30" placeholder="<%= @current_object.website%>">
  </div>
   
  <div class="spacet">
  <input type="text" size="30" placeholder="<%= @current_object.address%>">
  </div>
  
  <div class="spacet">
  <input type="text" size="30" placeholder="<%= @current_object.suburb%>">
  </div>
 
  <div class="spacet">
  <input type="text" size="30" placeholder="<%= @current_object.zip_code%>">
  </div>
    
  <div class="spacet"> 
  <input type="text" size="30" placeholder="<%= @current_object.country%>">
  </div>
      
 <button class="sbutton" type="submit">
 <span>
 
 <%= submit_to_remote 'update_btn', 'Submit', :url => { :action => 'update' }%>
</span>
</button>
 </div>

 </form> 
 


