<form action="">
 <div class="spacet">
 <input type="text" size="30" name="profile_full_name" value="<%= @current_object.full_name()%>" >
 </div> 

 <div class="spacet">
 <input type="text" size="30" name="profile[email_address]" value="<%= @current_object.user.email%>">
 </div>
 
 <div class="spacet">
 <input type="text" size="30" name="profile[website]" value="<%= @current_object.website%>">
 </div>
  
 <div class="spacet">
 <input type="text" size="30" name="profile[address]" value="<%= @current_object.address%>">
 </div>
 
 <div class="spacet">
 <input type="text" size="30" name="profile[suburb]" value="<%= @current_object.suburb%>">
 </div>

 <div class="spacet">
 <input type="text" size="30" name="profile[zip_code]" value="<%= @current_object.zip_code%>">
 </div>
   
 <div class="spacet"> 
 <input type="text" size="30" name="profile[country]" value="<%= @current_object.country%>">
 </div>

<%= submit_to_remote 'update_btn', 'Submit', :url => { :action => 'update' }, :method=>'put'%>
     
</div>

</form>

