 
<table>


<tr align="left">

<td valign="top">
   <p id ="first_name">          
  <%=h @current_object.first_name %>
  </p>
</td>
<td valign="top">
  <p id ="last_name">          
  <%=h @current_object.last_name %>
  </p>
</td>
</tr>

<tr align="left">

<td valign="top">
<p id="address">
   <%=h @current_object.address %><br />
</p>  
</td>
<td valign="top">
<p id="suburb">
  <%=h @current_object.suburb %><br />
</p>  
</td>
</tr>


<tr align="left">
<td valign="top">
<p id="zip_code">
  <%=h @current_object.zip_code %><br />
  </p>
</td>
<td valign="top">
  <p id ="email_address"> 
   <%=h @current_object.email_address %>
   </p>
</td>

</tr>

<tr align="left">

</tr>

<tr align="left">
<td valign="top">
  
  <p id="website">
  <%=h @current_object.website %>
  </p>  
</td>
<td valign="top">
<p id="country_state">
  <%=h @current_object.country_state %><br />
  </p>


</tr>

<tr align="left">

<td valign="top">
  <p id="phone_number">
  <%=h @current_object.phone_number %>
  </p>  
</td>
</td>
<td valign="top">
<p id="country">
  <%=h @current_object.country %><br />
 </p> 
</td>
</tr>







<tr align="left">
<td colspan=2>
 <%= I18n.t('general.field.created_at')+' '+I18n.l(@current_object.created_at, :format => :verb) %><br />
<td>
</tr>

<tr align="left">
<td colspan=2>
    <%= I18n.t('general.field.updated_at')+' '+I18n.l(@current_object.updated_at, :format => :verb) %>
</td>

</tr>

<tr align="left">
<td colspan=2>
<%#= link_to I18n.t('general.link.edit'), edit_admin_profile_path(@current_object)%>
</td>
</tr>

</table>
    
