 

<%image_array = ['fworkimage','sworkimage','tworkimage','foworkimage','fiworkimage','siworkimage','seworkimage','eworkimage','nworkimage','teworkimage']%>
<%size_array = ['fworksize','sworksize','tworksize','foworksize','fiworksize','siworksize','seworksize','eworksize','nworksize','teworksize']%>
<%title_array = ['fworktitle','sworktitle','tworktitle','foworktitle','fiworktitle','siworktitle','seworktitle','eworktitle','nworktitle','teworktitle']%>
<%medium_array = ['fworkmedium','sworkmedium','tworkmedium','foworkmedium','fiworkmedium','siworkmedium','seworkmedium','eworkmedium','nworkmedium','teworkmedium']%>
<%price_array = ['fworkprice','sworkprice','tworkprice','foworkprice','fiworkprice','siworkprice','seworkprice','eworkprice','nworkprice','teworkprice']%>
<%imgname=[]%>       
<%sizename=[]%>
<%titlename=[]%>
<%mediumname=[]%>
<%pricename=[]%> 
 
<script type="text/javascript" src="/javascripts/jquery.editinplace.js"></script>

        <link rel="stylesheet" href="/stylesheets/jquery.fancybox.css" type="text/css" media="screen" />
        <script type="text/javascript" src="/javascripts/jquery.fancybox.pack.js"></script>

<script language="javascript"> 
  
  function showhidesentinbox(divid){
    if (divid == "inbox")
    {
      document.getElementById("sent").style.display = "none";
      document.getElementById("inbox").style.display = "block";
    }
    if (divid == "sent")
    {
      document.getElementById("inbox").style.display = "none";
      document.getElementById("sent").style.display = "block";
    }  
  }
  
  
  function ntoggle() {
    var ele = document.getElementById("noticeToggle");
    var text = document.getElementById("displayText");
    if(ele.style.display == "block") {
      ele.style.display = "none";
    }
    else {
      ele.style.display = "block";
    }
  }
  function comptoggle(comid) {
    var ele = document.getElementById("comp"+comid);

    if(ele.style.display == "block") {
      ele.style.display = "none";
    }
    else {
      ele.style.display = "block";
    }
  }
  
  function exhitoggle(exhiid){
    var ele = document.getElementById("exhi"+exhiid);
    if(ele.style.display == "block") {
      ele.style.display = "none";
    }
    else {
      ele.style.display = "block";
    }
  }
  
</script>


<div id="tabass">
  <ul>
    <li><a href="#fragment-1"><span>Contacts</span></a></li>    
    <li><a href="#fragment-2"><span>Exhibition</span></a></li>
    <li><a href="#fragment-3"><span>Competition</span></a></li>
    <li><a href="#fragment-4"><span>Artworks</span></a></li>
    <li><a href="#fragment-5"><span>Invoice</span></a></li>
    <li><a href="#fragment-6"><span>Mail</span></a></li>

<span id="current_symbol" style="padding-left:25px;"> 

            
<%=link_to_remote  image_tag("/images/exh.jpeg", :height => '15', :width => '15',:title=>"Add To New Exhibition"),  
    :url => new_admin_exhibition_path() , :method=>:get
%>
  
  
   <%=link_to_remote image_tag("/images/item2ad.gif",:width=>"15",:height=>"15",:alt=>"Not Found"), :update => "",:url =>"/admin/competitions/new",:method=>"get"
   %>
    
<img class = "ico" width="20" height="20" border="0" style="float:middle" usemap="#map49" alt="N" src="/images/item2ad.gif"/>


<img class = "ico" width="20" height="20" border="0" style="float:middle" usemap="#map49" alt="N" src="/images/item2d.gif">
<%#=link_to_remote  image_tag("/images/item2ad.gif",  :width =>"20", :height =>"20", :border =>"0"  ), :update => "",
   # :url => { :controller=> "admin/profiles",:action => "edit", :id => @current_object.user.id },:method=>:get
        
%>
<%#=link_to_remote  image_tag("/images/item2d.gif", :height => '20', :width => '20', :title=>"Compose Mail"), :update => "",
   # :url => { :controller=> "admin/profiles",:action => "compose_mail", :id => @current_object.user.id },:method=>:get
    

</span>
  
<span id="current_exhibition" style="padding-left:50px;">  
         <%#if current_user.login=="admin" || current_user.login=="superadmin"%>

            
<%#=link_to_remote  image_tag("/images/exh.jpeg", :height => '15', :width => '15',:title=>"Add To New Exhibition"),  
   # :url => new_admin_workspace_exhibition_path(profile_workspace.id) , :method=>:get
%>
 
<%#=link_to_remote  image_tag("/images/exhcreat.jpeg", :height => '15', :width => '15',:title=>"Add To Existing Exhibition"),  
   # :url => "/admin/exhibitions/all_exh_list" , :method=>:get
%>


         <%#end%>
       

</span>
<span id="current_competition" style="padding-left:100px;"> 


<%#=link_to_remote  image_tag("/images/comp.jpeg", :height => '15', :width => '15',:title=>"Add To Competition"),  
    #:url => "/show_all_competition" , :method=>:get
%>

<%#=link_to_remote  image_tag("/images/button.png", :height => '15', :width => '15'),  
    #:url => "/show_list_of_comp_exh" , :method=>:get
%>

 

</span>



  </ul>
  <div style="font-size:10px;">


    


    <div id="fragment-1"  >
    
  <table id="profiles">
    <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Phone</th>
          
        </tr>
    </thead>
    <tbody>
      <% @current_objects.each do |profile| %>
        <tr>
            <%if  profile.user.login != "admin" and  profile.user.login != "superadmin"%>
              <td><%=link_to profile.first_name , admin_profile_path(profile.id)%></td>
              <td><%=link_to profile.last_name , admin_profile_path(profile.id)%></td>
              <td><%=link_to profile.email_address, admin_profile_path(profile.id) %></td>
              <td><%=h profile.phone_number %></td>
             <%else%>
              <td><%=link_to profile.first_name , '' %></td>
              <td><%=link_to profile.last_name , ''%></td>
              <td><%=link_to profile.email_address, '' %></td>
              <td><%=h profile.phone_number %></td>
            <%end%>


  </tr>
 <% end %>
  </tbody>
  <tfoot>
    <tr style="display:none;">
      <td colspan="5">
	            No rows match the filter...
      </td>
    </tr>
  </tfoot>

</table>
              <br/></br>  
                        <div>
                          <form action="/admin/send_news_letter" id="submitnewsletter" name="submitnewsletter">
                            <%if @newsletter%>
                              <select size="6" name="newsletter"  id="category_ids_" >
                                <%for newsletter in @newsletter%>
                                <option  value="<%=newsletter.id%>"><%=newsletter.title if newsletter%></option>
                                <%end%>
                              </select>
                            <%=hidden_field_tag "categoryid",@filters * ","%>
                            
                            <%#=submit_tag "send newsletter", :style => "width:115px;"%>
                            <%end%>
                          </form>
                        </div>
            
<%# end %>

               
               
              
              

</div>
  
   <div id="fragment-2"  >
     dsxsdxsdx
     </div>
   <div id="fragment-3"  >
           <%if @competitions%>                         
         <%for comp in @competitions%>
                <div style="clear:both">
                     <%=comp.title if comp%>
                          <%=link_to_remote "DETAIL", :update => "",:url =>"/edit_images_back/#{comp.id}"
                                 %>  
                        <br/>
          <%end%>
                     </div>
                 <div id="show_competition<%=comp.id if comp%>">
                 </div>
   
         <%end%>
    </div>
   <div id="fragment-4"  >
     wwwwwwwwwazazaz
     </div>
   <div id="fragment-5"  >
     wwwwwwwwwsaxsx
     </div>
    
  
  </div>

<script>
  $(document).ready(function()
    {
      $("#profiles").tablesorter();
        <%#*$("#profiles").tablesorter({ sortList: [[0, 0]], widgets: ['zebra'] });%>

        <%#*$("#profiles tbody tr").quicksearch({%>
            <%#*labelText: 'Search: ',%>
            <%#*attached: '#profiles',%>
            <%#*position: 'before',%>
            <%#*delay: 100,%>
            <%#*loaderText: 'Loading...',%>
            <%#*onAfter: function() {%>
                <%#*if ($("#profiles tbody tr:visible").length != 0) {%>
                    <%#*$("#profiles").trigger("update");%>
                    <%#*$("#profiles").trigger("appendCache");%>
                    <%#*$("#profiles tfoot tr").hide();%>
                <%#*}%>
                <%#*else {%>
                    <%#*$("#profiles tfoot tr").show();%>
                <%#*}%>
            <%#*}%>
        <%#*});%>

    }
);
</script></span>

      
      
    </div>


 <script>
			$(document).ready(function(){
			 	$(".group4").colorbox({rel:'group4', slideshow:true});
   			});
		</script>

    
    


<script>
  $(document).ready(function()
    {
     // $("#invoicess").tablesorter();
    }
);
  $(document).ready(function(){
	
	// All examples use the commit to function interface for ease of demonstration.
	// If you want to try it against a server, just comment the callback: and 
	// uncomment the url: lines.
	
	// The most basic form of using the inPlaceEditor
	
	$("#first_name").editInPlace({
		//callback: function(unused, enteredText) { return enteredText; },
		 url: '/change_profile/'+document.getElementById('exh_display_list').value
		 
	});
	
	$("#last_name").editInPlace({
		//callback: function(unused, enteredText) { return enteredText; },
		 url: '/change_profile/'+document.getElementById('exh_display_list').value
		 
	});
	
	
	
	$("#email_address").editInPlace({
		//callback: function(unused, enteredText) { return enteredText; },
		 url: '/change_profile/'+document.getElementById('exh_display_list').value
		 
	});
	
	$("#phone_number").editInPlace({
		//callback: function(unused, enteredText) { return enteredText; },
		 url: '/change_profile/'+document.getElementById('exh_display_list').value
		 
	});
	
	$("#website").editInPlace({
		//callback: function(unused, enteredText) { return enteredText; },
		 url: '/change_profile/'+document.getElementById('exh_display_list').value
		 
	});
	
	$("#address").editInPlace({
		//callback: function(unused, enteredText) { return enteredText; },
		 url: '/change_profile/'+document.getElementById('exh_display_list').value
		 
	});
	
	$("#suburb").editInPlace({
		//callback: function(unused, enteredText) { return enteredText; },
		 url: '/change_profile/'+document.getElementById('exh_display_list').value
		 
	});
	
	$("#zip_code").editInPlace({
		//callback: function(unused, enteredText) { return enteredText; },
		 url: '/change_profile/'+document.getElementById('exh_display_list').value
		 
	});
	
	$("#country_state").editInPlace({
		//callback: function(unused, enteredText) { return enteredText; },
		 url: '/change_profile/'+document.getElementById('exh_display_list').value
		 
	});
	
	$("#country").editInPlace({
		//callback: function(unused, enteredText) { return enteredText; },
		 url: '/change_profile/'+document.getElementById('exh_display_list').value
		 
	});
	
	
	
	
	
 });
</script>
















<!--
this i am copying but not sure why may be this requires at front end 
  <div id="fragment-3"  >
           <%#if @competitionuserenteredlist%>                         
         <%#for compuser in @competitionuserenteredlist%>
                <div style="clear:both">
                     <%#=compuser.competition.title if compuser.competition%>
                     <%#if !compuser.blank?%>
                           <%#if compuser.competition%>
                         <%#=link_to_remote "DETAIL", :update => "",:url =>"/edit_images_front/#{compuser.competition.id}?order_id=#{compuser.id}"
                                 %>  
                        <br/>    
                 
                     <!--   <%#=link_to_remote " Details", :update => "",:url => "/competitions/edit_images_frontbrowse/#{compuser.competition.id}?order_id=#{compuser.id}"
                             %>   
                       <br/>
                        <%#=link_to_remote "Add", :update => "",:url => "/create_subscribe_competition_front_edit/#{compuser.competition.id}?order_id=#{compuser.id}"
                              %>   
                           <%#end%>
                       <br/>
                      <%#end%>
                     </div>
                 <div id="show_competition<%#=compuser.id if compuser%>">
             
                       
                </div>
         <%#end%> 
         <%#end%>
      
     
   </div>
-->

<div id="updatepopup">
  </div>