<div style="padding:20px;">
<form action="/add_frommail" method="post">
  Add From Email <%=text_field_tag "addfromemail"%>
  <%=submit_tag "Submit",:style=>"width:150px"%>
</form>
</div>
<div style="padding:20px;">
<form  method="post" action="/add_signature">
Select From Emamil
<select name="selectfrom">
  <%for frommail in @frommail%>
  <option value="<%=frommail.id%>"><%=frommail.frommail%></option>
  <%end%>
</select>
<br>
Add Signature Label
<%=text_field_tag "signlabel"%>
<br/>
Add Signature 
<%=text_field_tag "signature"%>
<br/>
<%=submit_tag "Submit",:style=>"width:200px"%>
</form>

</div>
